/ {
  aliases {
    wattmeter=&mt_0;
  };

};
&pinctrl { 
  i2c1_scl_pb6: i2c1_scl_pb6{
    pinmux=<STM32_PINMUX('B',6,AF4)>;
    bias-pull-up;
  };
  i2c1_sda_pb9: i2c1_sda_pb9{
    pinmux=<STM32_PINMUX('B',9,AF4)>;
    bias-pull-up;
  };
};
&i2c1 {
  status="okay";
  pinctrl-0=<&i2c1_scl_pb6 &i2c1_sda_pb9>;
  pinctrl-names="default";
  mt_0: mt_0@40{
    compatible="ti,ina219";
    status="okay";
    lsb-microamp=<244>;
    shunt-milliohm=<10>;
    reg=<0x40>;

  };
};
