/ {
    aliases {
      my-timer=&my_counter;
      my-led=&led67;
    };
    leds {
      compatible="gpio-leds";
      led67: led {
        gpios=<&gpioe 1 GPIO_ACTIVE_HIGH>;
      };
    };
};

&timers1 {
  status="okay";
  st,prescaler=<400>;
  my_counter: counter {
    compatible="st,stm32-counter";
    status="okay";
  };
};
