/ {
    aliases {
        my-adc = &adc1;
        my-adc-channel = &adc0_ch0;
        light-control = &adc1;
        light-control-channel = &adc123_ch13;
        my-led = &green_led;
    };

    pwmleds: pwmleds {
        compatible = "pwm-leds";
	status="okay";
        green_led: led0 {
            pwms = <&pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
    };
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    st,adc-prescaler = <4>;

    adc0_ch0: channel@18 {
        reg = <18>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time =
            <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 50)>;
        zephyr,resolution = <12>;
        zephyr,vref-mv = <3300>;
    };

    adc123_ch13: channel@13 {
        reg = <13>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
        zephyr,vref-mv = <3894>;
    };
};
