/{
  aliases {
    my-button=&btn_1;
    my-led=&led_1;
  };
  chosen {
    zephyr,console=&usbotg_fs;
  };


  leds: leds{
     compatible="gpio-leds";
     led_1: green_led{
        gpios=<&gpioa 5 GPIO_ACTIVE_HIGH>;
     };
  };
  buttons:buttons{
     compatible="gpio-keys";
     btn_1:btn_1{
        gpios=<&gpioc 13 GPIO_ACTIVE_LOW>;
     };
  };

};
&usart2 {
    status="disabled";
};
&usbotg_fs {
    pinctrl-0=<&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names="default";
    status="okay";
}; 
