/ {
    aliases {
        my-led = &user_led;
        my-stepper = &stepper_motor;
    };

    leds {
        compatible = "gpio-leds";

        user_led: yellow_led {
           gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
        };
    };
    stepper_motors {

        stepper_motor: first_stepper {
           compatible="custom,stepper";
           label="First motor";
           direction-gpios = <&gpiob 3 GPIO_ACTIVE_LOW>;
           step-gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
        };
      
    };
};
