/ {
    aliases {
        my-led = &user_led;
        my_stepper=&stepper_motor;
    };

    leds {
        compatible = "gpio-leds";

        user_led: yellow_led {
            gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
        };
    };
    stepper_motors {
        compatible="gpio-leds";
        stepper_motor : first_stepper {
           label="First motor";
           direction-gpios=<&gpioe 13 GPIO_ACTIVE_LOW>;
           step-gpios=<&gpioa 8 GPIO_ACTIVE_LOW>;
        };
      
    };
};
