/ {
  aliases {
    my-led=&led0;
    turntable-imu=&imu1;
    //link1-imu=&imu2;
    //link2-imu=&imu3;
    //diffrential-imu=&imu4;
    //magnetometer-yaw=&mag1;
    
  };
  leds {
    compatible="gpio-leds";
    led0: check_led {
      gpios=<&gpioe 1 GPIO_ACTIVE_HIGH>;
    };
  };
};
&pinctrl {
  i2c1_scl_pb8: i2c1_scl_pb8 {
    pinmux = <STM32_PINMUX('B', 8, AF4)>;
    bias-pull-up;
  };

  i2c1_sda_pb9: i2c1_sda_pb9 {
    pinmux = <STM32_PINMUX('B', 9, AF4)>;
    bias-pull-up;
  };
};
&i2c1 {
  status="okay";
  pinctrl-0=<&i2c1_scl_pb8 &i2c1_sda_pb9>;
  pinctrl-names="default";
  imu1: turntable_imu@68 {
    compatible="invensense,mpu6050";
    reg=<0x68>;
  };
};
