/ {
  aliases {
    my-led=&led0;
    turntable-imu=&imu1;
    link1-imu=&imu2;
    link2-imu=&imu3;
    diffrential-imu=&imu4;
    magnetometer-yaw=&mag1;
    
  };
  leds {
    led0: check_led {
      compatible="gpio-leds";
      gpios=<&gpioe 1 GPIO_ACTIVE_HIGH>;
    };
  };
};
&pinctrl {
  status="okay";
  i2c_sensor_custom_pin: i2c_pins {
    pinmux=<I2C1_SCL_PB8>,<I2C1_SDA_PB9>;
    bias-pull-up;
    output-high;
  };
};
&i2c1 {
  status="okay";
  pinctrl-0=<&i2c_sensor_custom_pin>;
  clock_frequency=<I2C_BITRATE_STANDARD>;
  imu1: turntable_imu {
    compatible="mpu,sensor";
    reg=<0x68>;
    resolution=<3>;
  };
};
