/ {
    aliases {
        my-button-1 = &custom_button_1;
	my-led=&led_1;
    };

    custom-buttons {
        

        custom_button_1: the_button {
	    compatible = "custom,button";
            pin = <&c13>;
        };
    };
    leds: leds{
      compatible="gpio-leds";
      led_1: green_led{
        gpios=<&gpioa 5 GPIO_ACTIVE_HIGH>;
      };
    };

    

    gpio-keys {
        compatible = "gpio-keys";
        polling-mode;
        debounce-interval-ms = <50>;

        c13: custom_key {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
        };
    };
};
